<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/feedback.css">
</head>

<body>
    <div class="form">
        <h1><i>Form đánh giá</i></h1>
        <form action="/feedback" method="post"> 
            <input type="text" placeholder="Nhập đánh giá của bạn ở đây" name="content">
            <div class="submit">
                <button type="submit">Đánh giá ngay</button>
                <button>Hủy bỏ</button>
            </div>
        </form>
    </div>


    <h1>Chọn một và để lại đánh giá của bạn</h1>

    <div class="fb">
        <div class="system">
            <h1>Hệ thống</h1>
            <h4><i>Cảm nhận của bạn như thế nào với hệ thống của chúng tôi</i></h4>
            <div class="block-btn">
                <div class="btn">
                    <i>Đánh giá ngay</i>
                </div>
            </div>
        </div>
        <div class="service">
            <h1>Nội dung</h1>
            <h4><i>Chất lượng dữ liệu website bạn cảm thấy hài lòng chứ?</i></h4>
            <div class="block-btn">
                <div class="btn">
                    <i>Đánh giá ngay</i>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/feedback.js"></script>
</body>

</html>