body{
  background: linear-gradient(rgb(252, 245, 245),#e7e6e6);
  color: black;
}
.block-1{
  text-align: left;
} 
.block-2{
  text-align: left;
} 
.block-3{
  text-align: left;
} 
.block-4{
  text-align: left;
} 

/* block-1 */
.block-1{
  margin-left: 100px;
  margin-right: 100px;
}
.block-1 h1{
  font-family: inherit;
  color: #5a5555;
  margin-bottom: 20px;
  width: 30%;
  border-bottom: 3px solid #5a5555;
  font-size: 25px;
}
.block{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  
}
.image-1{
  width: 280px ;
  height: 270px;
  box-sizing: border-box;
  margin-left: 45px;
  margin-bottom: 90px;
  border-radius: 25px;
}
.image-1 a img{
  width: 100%;
  height: 200px;
  border-radius: 25px;
}
.image-1 a{
  text-decoration: none;
  color: black;
}
.image-1 .text{
  width: 100%;
  height: 50px;
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-size: x-large;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  color:#5a5555;
  padding-top: 10px;
}
.image-1 .text:hover{
  color: rgb(63, 43, 43);
}
.image-2 a .text{
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.next {
  width: 200px;
  height: 50px;
  border-bottom: 3px solid #5a5555;
  text-align: right;
  padding-top: 17px;
  margin-left: 85%;
  margin-bottom: 100px;
}
.next p{
  color: #5a5555;
  font-size: 20px;
}

/* block-2 */
.block-2{
  justify-content: space-between;
  display: flex;
  margin-top: 50px;
}
.b1{
  margin-left: 5%;
  height: 700px;
  width: 15%;
  border: solid 1px rgb(212, 206, 206);
  background-color: white;

}
.b2{
  height: 700px;
  width: 35%;
  border: solid 1px rgb(212, 206, 206);
  background-color: white;
}
.b3{
  height: 700px;
  width: 15%;
}
.b4{
  height: 700px;
  width: 15%;
  margin-right: 5%;
}
/* b1 */
.b1 h3{
  font-family: inherit;
  color: #5a5555;
  font-size:x-large;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.b1 a img{
  height: 200px;
  width: 100%;
  
}
.b1 p{
  color: #3f3c3c;
  text-align: justify;
  line-height: normal;
}
.b1 ul li{
  margin-bottom: 30px;
  list-style-type: square;
}
.b1 ul a{
  text-decoration: none;
}

/* b2 */
.b2 a img{
  width: 100%;
  height: 450px;
}
.b2 h3{
  color: #615d5d;
}
.b2 h4{
  font-family: inherit;
  font-size: medium;
  color: #3f3c3c;
}

/* b3,b4 */
.food{
  width: 100%;
  height: 300px;
  border: solid 1px rgb(212, 206, 206);
  margin-top: 20px;
  box-sizing: border-box;
  background-color: white;
}

.food img{
  width: 100%;
  height: 200px;
  border: solid 1px rgb(212, 206, 206);
}
.food h3{
  color: #615d5d;;
  font-family: inherit;
  margin-top:5px;
  margin-bottom: 5px;
  text-align: center;
}
.food p{
  color: #3f3c3c;
  text-align: justify;
  line-height: normal;
}

/* block-3 */
.block-3{
  justify-content: space-between;
  justify-content:center;
  width: 100%;
}
.block-3 h1{
  width: 300px;
  height: 70px;
  font-family: inherit;
  text-align: center;
  padding-top: 7px;
  color: white;
  border: solid 1px rgb(212, 206, 206);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  background:rgb(129, 127, 127);
  margin-bottom: 35px;
  border-radius: 10px;
}
.block-3 img{
  width: 88%;
  height:650px;
  border: solid 1px rgb(212, 206, 206);
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.block-3 a{
  text-decoration: none;
}
.block-3 a h1{
  padding-top: 15px;
  font-size: x-large;
}
.block-3 h2{
  text-align: center;
  color: #5a5555;
}
.block-3 p{
  text-align: center;
  color: #5a5555;
  font-size: larger;
}
.block-3 i{
  font-size:larger;
}
/* block-4 */
.block-4 p{
  text-align: center;
  font-size: larger;
}
.block-4 a h1{
  padding-top: 7px;
  height:70px;
  width: 450px;
  border-radius: 10px;
  font-size: large;
  background-color: rgb(168, 163, 163);
  color: black;
  padding-top: 22px
}
.block-4 a h1:hover{
  opacity: 0.7;
  transition: all 0.5s
}
