body{
    font-family: inherit;
    background: linear-gradient(rgb(252, 245, 245),#f3f3f3);
}
.block-1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
a{
    text-decoration: none;
    text-align: center;
}

/* title */
.title{
    width: 350px;
    height: 450px;
    border: 1px solid rgb(224, 202, 202);
    margin-left: 60px;
    margin-bottom: 50px;
    
}
.title img{
    width: 100%;
    height: 300px;
}
i{
    color: rgb(80, 76, 76);
}
.end i{
    color: rgb(158, 154, 152);
}
h2 i{
    font-size: x-large;
}