<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Thông tin sinh viên</h3>
                        <ul>
                            <li><a href="#">Trần Nam Anh</a></li>
                            <li><a href="#">20183687</a></li>
                            <li><a href="#">anh.tn183687@sis.hust.edu.vn</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Thông tin lớp và môn học</h3>
                        <ul>
                            <li><a href="#">Project 1</a></li>
                            <li><a href="#">709159</a></li>
                            <li><a href="#">IT3150</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Thêm thông tin</h3>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="https://github.com/namanh75/project_1">Github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>