<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Review</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <nav>
        <h1><a href="/">Diễn đàn Review</a></h1>
        <ul class="container ul-reset">
            <li><a href='/'>Trang chủ</a></li>
            <li><a href='/title'>Chủ đề</a></li>
            <li><a href='/food'>Món ăn</a></li>
            <li><a href='/info'>Thông tin</a></li>
            <li><a href='/feedback'>Đánh giá</a></li>
            <li><a href='/login'>Đăng nhập</a></li>
        </ul>
    </nav>
</body>

</html>