<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="block-2">
        <div class="b1">
            <h3>ĐƯỢC QUAN TÂM</h3>
            <a href="/food/Bánh%20đa%20cua">
                <img src="/image/food/S102.jpg" alt="">
            </a>
            <br><br>
            <p><i>Món ăn yêu thích của người Việt Nam, thường được sử dụng vào mỗi buổi sáng.
                Review ngay...</i> </p><br>
            <p>CŨNG ĐƯỢC QUAN TÂM</p>
            <ul>
                <li>
                    <a href="/food/Bún%20bò%20Huế">Bún bò huế</a>
                </li>
                <li>
                    <a href="/food/Bún%20bung">Bún bung</a>
                </li>
                <li>
                    <a href="/food/Nem%20chua">Nem chua</a>
                </li>
                <li>
                    <a href="/food/Bún%20cá">Bún cá</a>
                </li>
                <li>
                    <a href="/food/Bánh%20bèo">Bánh bèo</a>
                </li>
                <a href="/title">Tìm hiểu thêm </a>
            </ul>
        </div>
        <div class="b2">
            <a href="/food/Bánh%20mì"><img src="/image/food/S315.jpg" alt=""></a>
            <h3>BÁNH MỲ - ĐẶC SẢN VIỆT NAM</h3>
            <h4><i>Bánh mì Việt Nam có nguồn gốc từ bánh baguette do người Pháp đưa vào miền Nam Việt Nam từ những thế kỷ
                trước đây.
                Một số người cho rằng món này có thể đã có mặt tại Việt Nam từ 150 năm trước.
                Sau này, phạm vi ảnh hưởng của bánh mì đã lan ra khắp miền Trung và miền Nam,
                đặc biệt rất thịnh hành ở Sài Gòn</i> .</h4>
                <h4><i>Công thức sơ khai của bánh mì là bột trộn với nước và men, sau đó được tạo thành nhiều hình dáng khác nhau để thu hút thực khách.
                Đến tận bây giờ, nguồn gốc và thời gian bánh mì xuất hiện trên thế giới vẫn chưa được xác định,
                tuy nhiên có tài liệu cho rằng bánh mì có cách đây từ 10 nghìn năm</i> </h4>
        </div>
        <div class="b3">
            <div class="food">
                <a href="/food/Bánh%20bao"><img src="/image/food/S301.jpg" alt=""></a>
                <h3>BÁNH BAO</h3>
                <p><i>Làn hơi nước bốc lên hấp dẫn người nhìn từ lần đầu tiên</i> </p>
            </div>
            <div class="food">
                <a href="/food/Phở"><img src="/image/food/S125.jpg" alt=""></a>
                <h3>PHỞ</h3>
                <p><i>Một món ăn đặc trưng cho văn hóa Việt Nam, được sử dụng phổ biến</i></p>
            </div>
        </div>
        <div class="b4">
            <div class="food">
                <a href="/food/Bò%20bía"><img src="/image/food/S202.jpg" alt=""></a>
                <h3>BÒ BÍA</h3>
                <p><i>Món ăn vặt gắn với tuổi thơ của mỗi người Việt Nam</i></p>
            </div>
            <div class="food">
                <a href="/food/Gỏi%20cá"><img src="/image/food/S204.jpg" alt=""></a>
                <h3>GỎI</h3>
                <p><i>Đồ ăn sống với nước chấm chua cay đặc trung cho ai yêu thích gỏi</i></p>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="block-3">
        <p><i>Ấn vào ô bên dưới để xem thêm điều mới lạ...</i> </p>
        <a href="/title"><h1>Xem ngay</h1></a>
        <p><i>...hoặc có thể kéo xuống dưới</i></p>
        <img src="/image/food/main-image.jpg" alt="">
        <h2><i>Diễn đàn review ẩm thực</i></h2>
        <p><i>Nơi bạn có thể thoải mái lựa chọn đánh giá, để lại những bình luận về ẩm thực Việt Nam</i></p>
    </div>
    <br><br><br><br><br>
    <div class="block-1">
        <h1>THỊNH HÀNH</h1>
        <div class="block">
            <div class="image-1">
                <a href=""><img src="/image/food/S121.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Mỳ xào</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S123.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Miến lươn</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S201.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh cuốn</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S302.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh tiêu</div>
                </a>
            </div>
            
        </div>
    </div>

    <div class="block-1">
        <h1>MÓN NGON MỖI NGÀY</h1>
        <div class="block">
            <div class="image-1">
                <a href=""><img src="/image/food/S304.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh bột lọc</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S306.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh chưng</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S307.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh dày</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S308.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh đúc</div>
                </a>
            </div>
        </div>
    </div>
    <div class="block-1">
        <h1>GỢI Ý</h1>
        <div class="block">
            <div class="image-1">
                <a href=""><img src="/image/food/S309.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh giò</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S108.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bún măng vịt</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S313.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bánh khọt</div>
                </a>
            </div>
            <div class="image-1">
                <a href=""><img src="/image/food/S111.jpg" alt="hình ảnh"></a>
                <a href="">
                    <div class="text">Bún đậu mắm tôm</div>
                </a>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="block-3 block-4">
        <p>Xem thêm fanpage của chúng tôi</p>
        <a href="https://www.facebook.com/"><h1>More information</h1></a>
    </div>
</body>

</html>